body{
    line-height: none;
}
.logo{
    filter: brightness(800%);
    height: 50px;
    margin-top: 10px;
}
nav{
    /* display: flex; */
    margin-left: 100px;
}
nav ul{
    margin-left: 150px;
    margin-top: -38px;
}
nav li{
    display: inline;
    margin-left: 40px;
}
nav li a{
    text-decoration: none!important;
    color: #C4C4C4 ;
    text-transform: capitalize;

}
nav li a:hover{
    color: #ffffff;
}
.login-button{
    background: #FF6E40;
    border: none;
    height: 30px;
    font-weight: 600;
    width: 60px;
    margin-left: 30px;
    padding: 1px;
    border-radius: 2px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.login-button:hover{
    color: #ffffff;
}
.header{
    background-image: url('../../Image/Rectangle\ 1.png')!important;
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
}
.MuiOutlinedInput-input{
    padding: 8px!important;
  }
  
  .text-field input::placeholder{
    color: #ffffff;
    outline: none;
}

.MuiFormControl-marginNormal {
    margin-top:0px!important; 
    /* margin-bottom: 8px; */
}

input:focus{
    color: #ffffff;
    border:none;
}